body{
	font-family: 'ubuntu';
	text-align: center;
	background: #121212;	
	color: #FFFFFF;
	margin: 0;
	padding: 0;
	width: 100%;
}



.img {
	width: 50px;
	height: 50px;
}

.logos {
	display: flex;
	align-items: center;
	justify-content: center;
}

.logos img {
	padding: 5px;
}

.form {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.form input {
	margin: 5px;
	width: 200px;
	padding: 5px;
}

.form input, textarea {
	border-radius: 5px;
	border: none;
	font-family: ubuntu;
}

.nav {
	list-style: none;
	padding: 0;
	display: flex;
	align-items: center;
	justify-content: space-around;
	height: 10vh;
	background: green;
	position: relative;
	left: 0;
	top: 0;
	margin: 0;
}

.nav a {
	color: white;
	text-decoration: none;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 120px;
}

.nav a:hover {
	background: grey;
	border-radius: 5px;
}



.formats {
	list-style: none;
	padding: 0;
	margin: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;


}

.formats  a {
	text-decoration: none;
		color: white;
		
		background: red;
		width: 150px;
		height: 100px;
		margin: 10px;
		border-radius: 5px;
		display: flex;
		justify-content: center;
		align-items: center;
		font-size: 1.5rem;
}

.formats a:hover{
	background: green;

}

.degree {
	text-align: left;
}

.degree_box {
	display: flex;
	justify-content: space-around;
	
}

.contact {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

}
.contact input, textarea {
	margin: 5px;
	width: 200px;
	padding: 5px;
	border-radius: 5px;
	border: none;
}


.box{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin: 50px;
}

.box h2 {
	margin: 0;
}
.mini-box{
	display: flex;
	justify-content: space-around;
	width: 500px;
	align-items: center;

}

.left{
	width: 100%;
	font-weight: bold;
	text-align: right;
	margin: 5px;
}

.right {
	width: 100%;
	text-align: left;
	margin: 5px;
}

.err_message{
	color: red;
}

/* responsive */
@media screen and (max-width: 450px) {


	input {
		height: 50px;
		font-size: 1.5rem;
	}

	.mini-box{
		width: 100%;
		border-top: solid;
	}
	
	.degree_box{
		flex-direction: column;
	}

	.message, .err_message{
		padding: 10px;
	}
}